{% extends "default.html" %}
{% block content %}
            <div class="logo">

                <div class="logo-image">
                    <a href="{{ SITEURL }}" title="Jiawen's Blog"><img src="http://www.gravatar.com/avatar/5e1789651b793667186215460ecab3a7.png" alt="ABOUT" width="48" height="48"/></a>

                </div><!-- .logo-image -->
                <div class="logo-name">

                    <h1><a href="{{ SITEURL }}" title="Gavin's Blog">Gavin's Blog</a></h1>

                </div><!-- .logo-name -->
                <div class="tagline">Share my mind</div><!-- .tagline -->
                <div class="clear"></div>

            </div><!-- #logo -->

                <p>这里记录这一些所想所感和技术笔记，若对你有帮助，可收藏和关注本网站。本人主要从事 Android 和 iOS 的开发工作。曾在创业公司和网易等上市公司工作。文章以个人记录为主，不定期更新。</p>

{% endblock %}
