<div id="sidebar">

    <div id="sidebar-name">
        <span class="sidebar-name-wrap">ABOUT</span>
    </div><!-- #sidebar-name -->

    <div id="sidebar-inner">

        <div id="sidebar-logo">

            <div class="logo">

                <div class="logo-image">
                    <a href="http://lingavin.com" title="Jiawen's Blog"><img src="http://www.gravatar.com/avatar/5e1789651b793667186215460ecab3a7.png" alt="ABOUT" width="48" height="48"/></a>

                </div><!-- .logo-image -->
                <div class="logo-name">

                    <h1><a href="http://lingavin.com" title="Gavin's Blog">Gavin's Blog</a></h1>

                </div><!-- .logo-name -->
                <div class="tagline">Share my mind</div><!-- .tagline -->
                <div class="clear"></div>

            </div><!-- #logo -->

        </div><!-- #sidebar-logo -->

        <!-- Mobile dropdown menu button -->
        <div id="sidebar-dropdown">
            <a href="#" onclick="toggle_visibility('sidebar-mobile-info');"><svg enable-background="new 0 0 24 24" fill="#FFFFFF" height="24px" version="1.1" viewBox="0 0 24 24" width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"><g><g><path d="M23.244,17.009H0.75c-0.413,0-0.75,0.36-0.75,0.801v3.421C0,21.654,0.337,22,0.75,22h22.494c0.414,0,0.75-0.346,0.75-0.77    V17.81C23.994,17.369,23.658,17.009,23.244,17.009z M23.244,9.009H0.75C0.337,9.009,0,9.369,0,9.81v3.421    c0,0.424,0.337,0.769,0.75,0.769h22.494c0.414,0,0.75-0.345,0.75-0.769V9.81C23.994,9.369,23.658,9.009,23.244,9.009z     M23.244,1.009H0.75C0.337,1.009,0,1.369,0,1.81V5.23c0,0.423,0.337,0.769,0.75,0.769h22.494c0.414,0,0.75-0.346,0.75-0.769V1.81    C23.994,1.369,23.658,1.009,23.244,1.009z"/></g></g></svg></a>
        </div><!-- #sidebar-dropdown -->

        <div class="clear"></div>

        <!-- This is what slides down on mobile menu click -->
        <div id="sidebar-mobile-info">

            <div id="sidebar-bio">

                <p>这里记录这一些所想所感和技术笔记，若对你有帮助，可收藏和关注本网站。本人主要从事 Android 和 iOS 的开发工作。曾在创业公司和网易等上市公司工作。文章以个人记录为主，不定期更新。</p>

            </div><!-- /#sidebar-bio -->

            <div class="clear"></div>

            <div id="sidebar-widgets">

                <div class="sidebar-widget"><span class="sidebar-widget-title">Connect</span><div class="menu-connect-container"><ul id="menu-connect" class="menu"><li id="menu-item-880" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-880"><a href="https://twitter.com/GarmanLin">Twitter</a></li>
                </ul></div></div><div class="sidebar-widget"><span class="sidebar-widget-title">Projects</span><div class="menu-projects-container"><ul id="menu-projects" class="menu"><li id="menu-item-884" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-884"><a href="https://github.com/gavinlin">Github</a></li>
                </ul></div></div>          
            </div><!-- #sidebar-widgets -->

            <div class="clear"></div>
<!--
            <div id="search">

                <form id="search-form"  action="http://demo.onepagelove.com/clutterless/" method="post">
                    <input type="text" id="search-field" name="s" value="Search" onFocus="this.value=''" />
                    <input type="submit" id="search-button" value="" />
                </form>

            </div>
            -->
            <div class="clear"></div>

            <div id="sidebar-credit">
                <p><a href="http://lingavin.com" target="_blank">Gavin's Blog</a> <span class="by">Theme by</span> <a href="http://onepagelove.com" target="_blank">One Page Love</a></p>
            </div><!-- #sidebar-credit -->


            <div class="clear"></div>

        </div><!-- #sidebar-mobile-info -->

    </div><!-- sidebar-inner -->

</div><!-- sidebar -->
